<h1 class="mb-5">Cocktails</h1>


<div class="d-flex justify-content-between">
  <div class="col-8">
    <ul class="list-inline">
      <% @cocktails.each do |cocktail| %>
        <li>
          <h5>
            <%= link_to cocktail do %>
              <%= cocktail.name %>
            <% end %>
          </h5>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-4">
    <%= link_to 'Add Cocktail', new_cocktail_path, class: 'btn btn-primary' %>
  </div>
</div>
