<h6>Add Ingredient</h6>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, label: 'Amount'%>
  <%= f.association :ingredient %>
  <%= f.submit 'Add ingredient', class: 'btn btn-primary btn-sm' %>
<% end %>
